<div id="solicitudEstudiante">
  <div class="container-fluid md-padding dialogdemoBasicUsage" id="popupContainer">
    <div class="row">
      <div class="col-md-6" id="bg-solicitudEstudiante">
        <div class="col-md-12 text-center">
          <img src="componentes/imagenes/logoC.png" alt=""></img>
          <h1>Solicitud Estudiantil</h1>
          <p>¿Querés formar parte de Cenfotec Software House? Nos gustaría conocerte. Mandanos tú currículum, detallando tu trayectoria académica... ¡Permite explorar tus conocimientos, ideas y habilidades!</p>
        </div>
      </div>
      <div class="col-md-6">
        <form name="formularioEstudiantil">

          <div class="row">
            <div class="col-md-6">
              <label>Nombre</label>
              <md-input-container class="md-block">
                <input required="" aria-label="nombreEstudiante" name="nombreEstudiante" ng-model="solicitudEstudianteCtrl.nombreEstudiante" ng-pattern="/^[A-Za-zÑñáéíóúÁÉÍÓÚ]*$/">
                <div ng-messages="formularioEstudiantil.nombreEstudiante.$error">
                  <div ng-message ="required">Campo requerido</div>
                  <div ng-message ="pattern">Solo se permiten letras</div>
                </div>
              </md-input-container>
            </div>
            <div class="col-md-6">
            <label>Primer apellido</label>
              <md-input-container  class="md-block">
                
                <input required="" aria-label="apellido1Estudiante" name="apellido1Estudiante" ng-model="solicitudEstudianteCtrl.apellido1Estudiante" ng-pattern="/^[A-Za-zÑñáéíóúÁÉÍÓÚ]*$/">
                <div ng-messages="formularioEstudiantil.apellido1Estudiante.$error">
                  <div ng-message="required">Campo requerido</div>
                  <div ng-message="pattern">Solo se permiten letras</div>
                </div>
              </md-input-container>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label>Segundo apellido</label>
              <md-input-container  class="md-block">
                <input required="" aria-label="apellido2Estudiante" name="apellido2Estudiante" ng-model="solicitudEstudianteCtrl.apellido2Estudiante" ng-pattern="/^[A-Za-zÑñáéíóúÁÉÍÓÚ]*$/">
                <div ng-messages="formularioEstudiantil.apellido2Estudiante.$error">
                  <div ng-message="required">Campo requerido</div>
                  <div ng-message="pattern">Solo se permiten letras</div>
                </div>
              </md-input-container>
            </div>
            <div class="col-md-6" >
              <label>Genero:</label>
              <md-input-container  class="md-block">  
                <md-select required="" aria-label="genero" id="txtGenero"  name="genero" ng-model="solicitudEstudianteCtrl.genero" required>
                  <md-option value="Masculino">Masculino</md-option>
                  <md-option value="Femenino">Femenino</md-option>
                </md-select>
                <div ng-messages="formularioEstudiantil.genero.$error">
                  <div ng-message="required">Campo requerido</div>
                </div>
                </md-input-container>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label id="lb-correo">Correo:</label>
              <md-input-container  class="md-block">
                <input required=""  type="email" aria-label="emailEstudiante" name="emailEstudiante" placeholder ="example@ucenfotec.ac.cr" ng-model="solicitudEstudianteCtrl.emailEstudiante" minlength="" ng-pattern="/^[a-zA-Z0-9._-]+@ucenfotec.ac.cr$/" required>
                <div ng-messages="formularioEstudiantil.emailEstudiante.$error">
                  <div ng-message="pattern">Correo inválido</div>
                  <div ng-message="required">Campo requerido</div>
                </div>
              </md-input-container>
            </div>
            <div class="col-md-6">
              <label>Nivel academico</label>
              <md-input-container  class="md-block">
                  <md-select required=""  id="txtNivelAcademico" aria-label="nivelAcademico"  name="nivelAcademico" ng-model="solicitudEstudianteCtrl.nivelAcademico" required>
                    <md-option value="Técnico">Técnico</md-option>
                    <md-option value="Bachiller">Bachiller</md-option>
                    <md-option value="Diplomado">Diplomado</md-option>
                    <md-option value="Licenciatura">Licenciatura</md-option>
                  </md-select>
                  <div ng-messages="formularioEstudiantil.nivelAcademico.$error">
                    <div ng-message="required">Campo requerido</div>
                  </div>
              </md-input-container>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label>Carrera:</label>
              <md-input-container class="md-block">
                  <md-select aria-label="carreras"  id="txtCarreras" ng-model="solicitudEstudianteCtrl.carreraSeleccionada" required>
                      <md-option value="{{carrera.nombre}}" ng-repeat="carrera in solicitudEstudianteCtrl.carreras" required>{{carrera.nombre}}({{carrera.nivel}})</md-option>
                  </md-select>
                  <div ng-messages="formularioEstudiantil.carreras.$error" role="alert">
                    <div ng-message="required">Campo requerido</div>
                  </div>
              </md-input-container>
            </div>

            <div class="col-md-6  checkboxdemoSelectAll">
              <button class="md-button" data-toggle="dropdown">Seleccionar cursos</button> 
              <div ng-model="solicitudEstudianteCtrl.cursoSeleccionado" class="dropdown-menu">
                <md-checkbox ng-checked="exists(curso, selected)" ng-repeat="curso in solicitudEstudianteCtrl.cursos" ng-click="toggle(curso, selected)">
                   {{ curso.nombre }}
                </md-checkbox>
              </div>
            </div> 
          </div>

          
          <div class="row">
            <div class="col-md-6">
              <label for="txtfoto">Foto perfil:</label>
              <md-input-container  class="md-block">
                <input class="form-control" id="Foto" aria-label="foto" name="foto" ng-model="solicitudEstudianteCtrl.foto" type="file" required>
                <div ng-messages="formularioEstudiantil.foto.$error" role="alert">
                  <div ng-message="required">Campo requerido</div>
                </div>
              </md-input-container>
            </div>
            <div class="col-md-6">
              <button class="md-button" name="curriculum" ng-click="solicitudEstudianteCtrl.showPicker()" type="button">Agregar curriculum</button>
            </div>
          </div>
        
              <button type="button" aria-label="preSave" class="btn btn-warning" ng-click="solicitudEstudianteCtrl.preSave()">Enviar solicitud</button>
         
      </form>
    </div>
  </div>
</div>
</div>
<div ui-view></div>
