<md-toolbar>
  <h2 class="md-toolbar-tools md-center col-md-offset-2 col-md-10" >
      <span>Estado de estudiantes</span>
  </h2>
</md-toolbar>

<div class="container-fluid">
  <div class="row">

    <md-tabs class="col-md-offset-2 col-md-10" id="tabs-estados" class="md-padding">

      <md-tab class="tab-estadoEstudiantes" label="Estudiantes Pendientes" id="Estudiantes Pendientes">
        <md-content>
          <div class="container-fluid" ng-repeat="pobjEstado in estadoEstudianteCtrl.solicitudEstudiantes | filter: {estado :'pendiente'}">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-md-7">
                      <h4 class="panel-title md-padd">
                        <span>Nombre del estudiante: <a data-toggle="collapse" ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.nombreEstudiante}}{{pobjEstado.apellido1Estudiante}}{{pobjEstado.apellido2Estudiante}}" data-parent="#accordion">{{pobjEstado.nombreEstudiante}} {{pobjEstado.apellido1Estudiante}} {{pobjEstado.apellido2Estudiante}}</a></span>
                      </h4>
                    </div>
                    <div class="col-md-5">
                      <div class="col-md-2 col-offset-1">
                        <button class=" btn-estEstud"  ng-click="estadoEstudianteCtrl.aceptar(pobjEstado)">Aceptar</button>
                      </div>
                      <div class="col-md-2">
                        <button class="btn-estEstud" ng-click="estadoEstudianteCtrl.rechazado(pobjEstado)">Rechazar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-basic" data-toggle="collapse" data-target="#panel2">Información Estudiante</button>
                  <div id="panel2" class="collapse">
                    <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.genero}}">Genero: {{pobjEstado.genero}}</span>
                    <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.emailEstudiante}}">Correo: {{pobjEstado.emailEstudiante}}</span>
                    <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.nivelAcademico}}">Nivel académico: {{pobjEstado.nivelAcademico}}</span>
                    <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.carreraSeleccionada}}">Carrera: {{pobjEstado.carreraSeleccionada}}</span>
                    <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.cursoSeleccionado}}">Curso: {{pobjEstado.cursoSeleccionado}}</span>
                    <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.foto}}"><img src="{{pobjEstado.foto}}" width="100px" height="100px"></span>
                    <a href="{{pobjEstado.urlCurriculum}}">Curriculum: Click aqui</a>
                    
                  </div>
              </div>
            </div>
          </div>
        </md-content>
      </md-tab>

      <md-tab class="tab-estadoEstudiantes" label="Estudiantes Aceptados" id="Estudiantes Aceptados">
        <md-content>
          <div class="container-fluid" ng-repeat="pobjEstado in estadoEstudianteCtrl.solicitudEstudiantes | filter: {estado :'aceptado'}">
            <div class="panel-group" id="accordion2" >
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="row">
                      <div class="col-md-7">
                        <h4 class="panel-title md-padd">
                          <span>Nombre del estudiante: <a data-toggle="collapse" ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.nombreEstudiante}}{{pobjEstado.apellido1Estudiante}}{{pobjEstado.apellido2Estudiante}}" data-parent="#accordion2">{{pobjEstado.nombreEstudiante}} {{pobjEstado.apellido1Estudiante}} {{pobjEstado.apellido2Estudiante}}</a></span>
                        </h4>
                      </div>
                      <div class="col-offset-3 col-md-2">
                        <button class=" btn-estEstud"  ng-click="estadoEstudianteCtrl.asignarProyecto(pobjEstado)">Asignar proyecto</button>
                      </div>
                  </div>
                </div>
                <button type="button" class="btn btn-basic" data-toggle="collapse" data-target="#panel3">Información Estudiante</button>
                <div id="panel3" class="collapse">
                  <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.genero}}">{{pobjEstado.genero}}</span>
                  <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.emailEstudiante}}">{{pobjEstado.emailEstudiante}}</span>
                  <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.nivelAcademico}}">{{pobjEstado.nivelAcademico}}</span>
                  <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.carreraSeleccionada}}">{{pobjEstado.carreraSeleccionada}}</span>
                  <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.cursoSeleccionado}}">{{pobjEstado.cursoSeleccionado}}</span>
                  <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.foto}}">{{pobjEstado.foto}}</span>
                  <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.urlCurriculum}}">{{pobjEstado.urlCurriculum}}</span>
                </div>
              </div>
            </div>
          </div>
        </md-content>
      </md-tab>

      <md-tab class="tab-estadoEstudiantes" label="Estudiantes Rechazados" id="Estudiantes Rechazados">
        <md-content>
          <div class="container-fluid" ng-repeat="pobjEstado  in estadoEstudianteCtrl.solicitudEstudiantes | filter:{ estado :'rechazado'}">
            <div class="panel-group" id="accordion3" >
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-md-12">
                      <h4 class="panel-title md-padd">
                        <span>Nombre del estudiante: <a data-toggle="collapse" ng-model="estadoEstudianteCtrl.nombreEstudiante" value="{{pobjEstado.nombreEstudiante}}{{pobjEstado.apellido1Estudiante}}{{pobjEstado.apellido2Estudiante}}" data-parent="#accordion3">{{pobjEstado.nombreEstudiante}} {{pobjEstado.apellido1Estudiante}} {{pobjEstado.apellido2Estudiante}}</a></span>
                      </h4>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-basic" data-toggle="collapse" data-target="#panel">Información Estudiante</button>
                  <div id="panel" class="collapse">
                    <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.genero}}">{{pobjEstado.genero}}</span>
                    <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.emailEstudiante}}">{{pobjEstado.emailEstudiante}}</span>
                    <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.nivelAcademico}}">{{pobjEstado.nivelAcademico}}</span>
                    <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.carreraSeleccionada}}">{{pobjEstado.carreraSeleccionada}}</span>
                    <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.cursoSeleccionado}}">{{pobjEstado.cursoSeleccionado}}</span>
                    <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.foto}}">{{pobjEstado.foto}}</span>
                    <span  ng-model="estadoEstudianteCtrl.solicitudEstudiantes" value="{{pobjEstado.urlCurriculum}}">{{pobjEstado.urlCurriculum}}</span>
                  </div>
              </div>
            </div>
          </div>        
        </md-content>
      </md-tab>


    </md-tabs>
  </div>
</div>
 
<div ui-view></div>
