<div id="inicioSesion">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" id="bg-inicioSesion">
        <div class="col-md-12 text-center">
          <img src="componentes/imagenes/logoC.png" alt="">
          <h2>Hola!</h2>
          <h2>Bienvenid@!</h2>
        </div>

      </div>
        <div class="col-md-6 right-side">
            <form name="formularioInicioSesion" novalidate>
                <div class="row">

                  <div class="col-md-12">
                    <h1 class="text-center">Iniciar Sesión</h1>
                  </div>


                  <div class="col-md-12" ng-class="
                  {
                    'errorBorder': formularioInicioSesion.correo.$invalid && (!formularioInicioSesion.correo.$pristine || formularioInicioSesion.$submitted)
                  }
                  ">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i><label> Cuenta de Correo</label>
                    <input type="email" class="form-control" name="correo" ng-model="inicioSesionCtrl.correo" ng-pattern="/^[a-zA-Z0-9._-]+@ucenfotec.ac.cr$/" required>
                    <div ng-messages="formularioInicioSesion.correo.$error" class="error" ng-show="formularioInicioSesion.correo.$invalid && (!formularioInicioSesion.correo.$pristine || formularioInicioSesion.$submitted)">
                      <div ng-message="required" >Campo requerido</div>
                      <div ng-message="pattern">Correo electrónico inválido</div>
                    </div>
                  </div>


                  <div class="col-md-12" ng-class="
                  {
                    'errorBorder': formularioInicioSesion.contrasenna.$invalid && (!formularioInicioSesion.contrasenna.$pristine || formularioInicioSesion.$submitted)
                  }
                  ">
                    <i class="fa fa-lock fa-3x" aria-hidden="true"></i><label> Contraseña</label>
                    <input type="password" class="form-control" name="contrasenna" ng-model="inicioSesionCtrl.contrasenna" required>
                    <div ng-messages="formularioInicioSesion.contrasenna.$error" class="error" ng-show="formularioInicioSesion.contrasenna.$invalid && (!formularioInicioSesion.contrasenna.$pristine || formularioInicioSesion.$submitted)">
                      <div ng-message="required" >Campo requerido</div>
                    </div>
                  </div>


                  <div class="col-md-6">
                    <div class="">
                      <a ui-sref="olvidoCont">Olvidé mi contraseña</a>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="">
                      <button class="btn btn-primary pull-right" type="submit" ng-click="inicioSesionCtrl.inicioSesion(formularioInicioSesion.$valid)">Iniciar sesión</button>
                    </div>
                  </div>




                </div>
            </form>
        </div>
    </div>
  </div>
</div>
