<section layout="row" flex id="estudiante">

  <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">  <i class="fa fa-user-o" aria-hidden="true"></i>Estudiante</h1>
    </md-toolbar>

    <md-content layout-margin>
      <a ui-sref="administrador"><img src="componentes/imagenes/logoC.png" alt="logo Soft House"></a>
      <ul>
        <li><button class="sesion" layout-align="center end" ui-sref="estudiantePerfil.reporte">Reportes</button></li>
        <li><button class="sesion" layout-align="center end" ui-sref="estudiantePerfil.calendario">Calendario</button></li>
        <li><button class="sesion" layout-aling="center end" ui-sref="registrarHoras">Cronometro</button></li>
      </ul>

      <button ng-click="toggleLeft()" class="btn-primary">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
    </md-content>

  </md-sidenav>

  <md-content flex layout-padding>

    <div layout="column" layout-align="top">

      <div>
        <md-nav-bar aria-label="nav-bar" class="md-whiteframe-4dp left" flex>
          <span flex>
            <button ng-click="toggleLeft()" class="btn-primary">
              <i class="fa fa-bars fa-4x" aria-hidden="true"></i>
            </button>
          </span>

          <div class="icono">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
            <button  class="session" layout-align="center end"  ng-click="warningTitle()"> Notificaciones</button>
          </div>
          <div class="icono">
            <i class="fa fa-power-off" aria-hidden="true"></i>
          <button  class="session" ui-sref="inicio" layout-align="center end"> Salir</button>
          </div>
        </md-nav-bar>

      </div>
    </div>

  </md-content>



</section>

<div ui-view id="bg-estudiante">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1>¡Bienvenido estudiante!</h1>
  </div>
</div>
